body {
	margin:0;
	padding:0px;
	padding-top: 60px;
	height: auto;
	background-color: #eeeeee;
	overflow: scroll;
}

* {
	font-family: Verdana, Geneva, sans-serif;
	word-wrap: break-word;
}

a {
	text-decoration: none;
}

/*********************************header yeah aw yeah********************/

/*
.header {
	position: fixed;
	top: 75px;
	padding-left: 20px;
	right: -170px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 25px 0px 0px 25px;
	width:180px;
	height: 150px;
	background-color: #42474B;
	z-index:1;
	transition: right 0.5s ease-in-out;
}

.shownHeader {
	right: 0px;
}

*/

.header {
	
}

.headerImg {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.menuButtonContainer {
	position: fixed;
	top: 5px;
	left: 5px;
}

.searchButtonContainer {
	position: fixed;
	top: 5px;
	left: 50px;
}

.accountButtonContainer {
	position: fixed;
	top: 5px;
	right: 5px;
}

.newQuestionButtonContainer {
	height:0px !important;
	width:0px;
}

.headerImgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	z-index: 3;
}

/*container that pops up when you push button to make new question */

.newQuestionContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	max-width: 1230px;
	margin:auto;
	top: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #eeeeee;
}

.newPostTitle {
	text-align: center;
	font-size: 1.5em;
}

.newPostTextarea {
	font-size: 0.8em;
	width: 75%;
	margin:auto;
	resize: none;
}

.postButton {
	height:40px;
	background-color: #42474B;
	border: 3px solid black;
	color: #eeeeee;
	border-radius: 10px;
	display:block;
	margin:auto;
	font-size:1.1em;
	cursor:pointer;
	font-weight: bold;
}

.postButton:hover {
	background-color: #00CC00;
}

/*********************************white cover that goes over the background ********************/

.backgroundCover {
	position:fixed;
	background-color: white;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 3;
}

/************************sort menu container ********************/

.sortMenuContainer {
	background-color:white;
	position:fixed;
	left:50%;
	top:25%;
	margin-left: -200px;
	width:50%;
	height:50%;
	max-width:400px;
	min-height: 300px;
	max-height: 320px;
	z-index:3;
	border: 5px solid black;
	box-sizing: border-box;
}

.sortMenuTitle {
	position:relative;
	top:3%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.sortMenuOptionsContainer {
	position: relative;
	display: flex;
	align-items: center;
	top: 3%;
	height: 10%;
	width: 100%;
	border-bottom: 2px solid black;
	cursor: pointer;
}

.sortMenuOption {
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width:50%;
	height: 100%;
	font-size: 1em;
	font-weight: bold;
}

.sortMenuOption:hover {
	font-size:1.15em;
}

.sortMenuButton {
	position: relative;
	display:inline-block;
	height: 10%;
	top: 20px;
	width: 50%;
	cursor: pointer;
}

.sortMenuButton:hover {
	color: #1f268b;
}

.sortMenuButtonText {
	position:relative;
	top: 50%;
	width:100%;
	transform: translateY(-50%);
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

/*****filter container *****/

.filterContainer {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #42474B;
	color: white;
	text-align: center;
	z-index: 2;
	width: 100%;
	padding: 10px;
	min-width: 700px;
	margin: auto;
}

.filterName {
	display: inline-block;
	font-size: 1.5em;
}

.clearButton {
	width:20px;
	height:20px;
	cursor: pointer;
	padding-left: 10px;
}

/*************search bar****************/

.searchBar {
	position: fixed;
	width: 100%;
	max-width:1200px;
	min-width:700px;
	margin:auto;
	top: 30px;
	z-index: 2;
	height: 30px;
	padding: 10px;
	padding-top: 60px;
	display: flex;
	background-color: #42474B;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.searchTextArea {
	display: inline-block;
	border:none;
	width: 75%;
	height: auto;
	font-size:1.5em;
}

.searchButton {
	display: inline-block;
	text-align: center;
	margin: auto;
	font-size: 1em;
}

/********reply menu ************/

.replyMenuContainer {
	position: fixed;
	top: 30%;
	height: 320px;
	width: 400px;
	left:50%;
	transform: translateX(-50%);
	background-color: white;
	z-index: 3;
	border: 3px solid black;
	box-sizing: border-box;
}

.replyMenuTitle {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.replyMenuDescription {
	position: relative;
	top: 5px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: #777777;
}

.replyMenuSecondDescription {
	position: relative;
	top: 35px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: #777777;
}

.replyMenuLinkContainer {
	position: relative;
	top: 15px;
	text-align: center;
	width: 100%;
	font-size: 1em;
}

.replyMenuTextarea {
	font-size: 1em;
	width: 98%;
	border: 1px solid;
	border-color: #e6e6e6;
	resize: none;
}

.replyMenuStartingTimeContainer {
	width:100%;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 1em;
}

.replyMenuTimeInput {
	font-size: 1em;
	width: 15%;
	border: 1px solid;
	border-color: #e6e6e6;
	resize: none;
	text-align: right;
}

.replyMenuButtonsContainer {
	position: relative;
	display: flex;
	top: 5%;
	width: 100%;
	height: 30%;
	justify-content: center;
	align-items: center;
}

.replyMenuButton {
	position: relative;
	display: inline-block;
	margin:auto;
	font-size: 1.5em;
	cursor: pointer;
}

.replyMenuButton:hover {
	color: #1f268b;;
}

.replyContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding: 10px;
}

/********************************privacy policy container **************************/

.privacyPolicyContainer {
	position: fixed;
	top: 35%;
	left: 30%;
	right: 30%;
	height: 30%;
	background-color: white;
	z-index: 3;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.privacyTitle {
	position:relative;
	top: 50px;
	font-size: 2em;
}

.privacyContent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.1em;
	text-align: center;
}

.closePrivacyButton {
	position: relative;
	top: 35%;
	margin: auto;
	border-radius: 50px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

/*****************************content n such*******************************/
.content {
	position: relative;
    top: 30px;
	max-width: 1200px;
	min-width: 700px;
	min-height: 10px;
	margin: auto;
	background-color:white;
	padding: 15px;
}

.showMoreButton {
	position: relative;
	top: 25px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	text-align: center;
	font-size: 1.5em;
	color: #00004c;
	cursor:pointer;
}

.showMoreButton:hover {
	font-size: 1.6em;
}

/*************** footer ********************/

.footer {
	position: relative;
	bottom: -25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 200px;
	background-color: #42474B;
}

.logoContainer {
	flex: 0 1 100%;
	height: 100px;
}

.version {
	position: absolute;
	bottom:0;
	right:0;
	color: #b4b4b4;
	font-size: 1.5em;
}

.youtubeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	color: #9fa6ad;
	height: 30px;
}

.inline {
	display: inline-block !important;
}

.linkContainer {
	font-size: 1.2em;
	text-decoration: none !important;
	color: #9fa6ad;
	cursor: pointer;
}

/*question container contains info for a quesiton*/

.postContainer {
	position: relative;
	overflow:hidden;
	width: 100%;
	min-height: 150px;
	max-width: 100%;
	margin-top: 25px;
	border-bottom: 1px solid;
	border-bottom-color: #747474;
	box-sizing:border-box;
}

/*vote info container contains all votes plus up and downvoting*/
.voteInfoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0%;
	max-height: 275px;
	width: 5%;
	min-width: 60px;
}

.containedImg {
	display:block;
	margin:auto;
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.upvoteContainer {
	position: absolute;
	height: 25%;
	top: 15%;
	width: 100%;
}

.voteContainer {
	position: absolute;
	top: 38%;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: courier;
}

.downvoteContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
	width: 100%;
}

/*button container contains buttons, like trash*/

.buttonContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	max-height: 275px;
	max-width: 38px;
	width: 5%;
	overflow: auto;
}

.deleteButtonContainer {
	position: absolute;
	height: 25%;
	width:100%;
	top: 35%;
	z-index:1;
}

.linkButtonContainer {
	position: absolute;
	height: 25%;
	width:100%;
	bottom: 15%;
}

/*post text and info contains post text, time created... */

.postTextAndInfoContainer {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left:15%;
	width: 85%;
}

.postTextContainer {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 75px;
}

.postText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2em;
	padding: 15px;
	font-weight: bold;
}

.postInfoContainer {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: #747474;
}

.postActionContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 35%;
	cursor: pointer;
}

.postActionContainer:hover {
	color: #1f268b;
	font-size: 1.08em;
}

.timeAskedContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 30%;
	cursor: default;
}

/*all comment styling below here */

.commentsContainer {
	width:100%;
	overflow:visible;
}

.commentContainer {
	position:relative;
	left:10%;
	height: 100px;
	width:90%;
	border-bottom: 1px solid;
	border-bottom-color: #747474;
	border-left: 1px solid;
	border-left-color: #747474;
	box-sizing:border-box;
}

/*contains all comment vote styling*/

.commentVoteInfoContainer {
	position: relative;
	float: left;
	width: 5%;
	height: 100%;
	max-height: 100px;
	min-width: 53px;
}

.commentUpvoteContainer {
    position: absolute;
	height: 30%;
	top: 10%;
}

.commentVoteContainer {
    position: absolute;
	height:20%;
	width: 100%;
	top: 40%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-family: courier;
}

.commentDownvoteContainer {
    position: absolute;
	height:30%;
	bottom: 10%;
}

/*text itself and all buttons beneath*/

.commentPostTextAndInfoContainer {
	position: relative;
	float:left;
	height:100%;
	width: 90%;
}

.commentPostTextContainer {
	position: absolute;
	top:0;
	bottom:30px;
	width:100%;
	padding-left:30px;
}

.commentPostText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
}

.commentPostInfoContainer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 35px;
	
}

.commentDeleteButtonContainer {
	position:relative;
	float:left;
	width: 25%;
	height:100%;
}

.commentLinkButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentAnswerButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentTimeAskedContainer {
	position: relative;
	float: left;
	width: 25%;
	top: 50%;
	transform: translateY(-50%);
	text-align:center;
	color: #747474;
}