body {
	margin:0;
	padding:0px;
	height:100%;
	background-color: eeeeee; /* For browsers that do not support gradients */
}

* {
	font-family: Verdana, Geneva, sans-serif;
}

.header {
    position:relative;
	height:150px;
	width:100%;
	background-color:2d3338;
	z-index:1;
}

.logoContainer {
	position: absolute;
	top: 15%;
	left:40%;
	margin-left: auto;
	margin-right: auto;
}

.logoImg {
	max-width:500px;
	max-height:100px;
	width: auto;
	height: auto;
}

.version {
	position: absolute;
	color: b4b4b4;
	left: 48%;
	top: 85%;
}

.youtube {
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align:center;
	cursor: pointer;
}

.youtubeImg {
	max-width:200px;
	max-height:100px;
	width: auto;
	height: auto;
}

/*button to push to make a new quesiton */

.newQuestion {
    position:fixed;
    width:250px;
	height:40px;
	top: 0px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color:green;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	z-index: 1;
}

.newQuestion:hover {
	background-color:00CC00;
}

/*container that pops up when you push button to make new question */

.newQuestionContainer {
	position: fixed;
	width: 250px;
	top: 40px;
	z-index: 1;
	background-color: white;
}

.newPostTitle {
	display:block;
	text-align: center;
	font-size: 1.5em;
}

.newPostTextarea {
	display:block;
	font-size: 1em;
	margin:auto;
	width: 75%;
	height: 200px;
}

.postButton {
	width:75%;
	height:40px;
	background-color:green;
	border: 3px solid black;
	border-radius: 10px;
	display:block;
	margin:auto;
	font-size:1.5em;
	cursor:pointer;
	font-weight: bold;
}

.postButton:hover {
	background-color:00CC00;
}

.padding {
	width:100%;
	height: 10px;
}

.backgroundCover {
	position:fixed;
	background-color: white;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
}

/************************sort menu container ********************/

.sortMenuContainer {
	background-color:white;
	position:fixed;
	left:50%;
	top:25%;
	margin-left: -200px;
	width:50%;
	height:50%;
	max-width:400px;
	min-height: 300px;
	max-height: 320px;
	z-index:2;
	border: 5px solid black;
	box-sizing: border-box;
}

.sortMenuTitle {
	position:relative;
	top:3%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.sortMenuOptionsContainer {
	position: relative;
	display: flex;
	align-items: center;
	top: 3%;
	height: 10%;
	width: 100%;
	border-bottom: 2px solid black;
	cursor: pointer;
}

.sortMenuOption {
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width:50%;
	height: 100%;
	font-size: 1em;
	font-weight: bold;
}

.sortMenuOption:hover {
	font-size:1.15em;
}

.sortMenuButton {
	position: relative;
	display:inline-block;
	height: 10%;
	top: 20px;
	width: 50%;
	cursor: pointer;
}

.sortMenuButton:hover {
	color: 1f268b;
}

.sortMenuButtonText {
	position:relative;
	top: 50%;
	width:100%;
	transform: translateY(-50%);
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

/*****filter container *****/

.filterContainer {
	position:relative;
	max-width: 1200px;
	min-width: 810px;
	margin: auto;
}

.filterName {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
	display: inline-block;
	font-size: 1.5em;
}

.sortMenuButtonContainer {
	position: absolute;
	display: inline-block;
	right:2%;
	top:0;
	bottom:0;
	height:100%;
}

.content {
	max-width: 1200px;
	min-width: 810px;
	min-height: 10px;
	margin: auto;
	background-color:white;
	padding: 15px;
}

/*question container contains info for a quesiton*/

.postContainer {
	display:inline-block;
	position: relative;
	height: auto;
	width: 100%;
	min-height: 150px;
	max-width: 100%;
	margin-top: 25px;
	border-bottom: 1px solid;
	border-bottom-color: 747474;
	box-sizing:border-box;
}

/*vote info container contains all votes plus up and downvoting*/
.voteInfoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0%;
	max-height: 275px;
	width: 5%;
}

.containedImg {
	display:block;
	margin:auto;
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.upvoteContainer {
	position: absolute;
	height: 25%;
	top: 15%;
	width: 100%;
}

.voteContainer {
	position: absolute;
	top: 38%;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: courier;
}

.downvoteContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
	width: 100%;
}

/*button container contains buttons, like flag, trash, etc..*/

.buttonContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	max-height: 275px;
	max-width: 38px;
	width: 5%;
	overflow: auto;
}

.deleteButtonContainer {
	position: absolute;
	height: 25%;
	top: 15%;
}

.flagButtonContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
}

.answerButtonContainer {
	position: absolute;
	height:25%;
	top: 75%;
}

/*post text and info contains post text, time created... */

.postTextAndInfoContainer {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left:15%;
	width: 85%;
}

.postTextContainer {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 75px;
}

.postText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2em;
	padding: 15px;
	cursor: default;
	font-weight: bold;
}

.postInfoContainer {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: 747474;
}

.postActionContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 35%;
	cursor: pointer;
}

.postActionContainer:hover {
	color: 1f268b;
	font-size: 1.08em;
}

.timeAskedContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 30%;
	cursor: default;
}

/*all comment styling below here */

.commentsContainer {
	width:100%;
	overflow:auto;
}

.commentPadding {
	position:relative;
	float:left;
	width:10%;
}

.commentContainer {
	position:relative;
	float:left;
	height: 100px;
	width:88%;
	border-bottom: 1px solid;
	border-bottom-color: 747474;
	border-left: 1px solid;
	border-left-color: 747474;
	box-sizing:border-box;
}

/*contains all comment vote styling*/

.commentVoteInfoContainer {
	position: relative;
	float: left;
	width: 5%;
	height: 100%;
	max-height: 100px;
}

.commentUpVoteContainer {
    position: absolute;
	height: 30%;
	top: 10%;
}

.commentVoteContainer {
    position: absolute;
	height:20%;
	width: 100%;
	top: 40%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-family: courier;
}

.commentDownVoteContainer {
    position: absolute;
	height:30%;
	bottom: 10%;
}

/*text itself and all buttons beneath*/

.commentPostTextAndInfoContainer {
	position: relative;
	float:left;
	height:100%;
	width: 90%;
}

.commentPostTextContainer {
	position: absolute;
	top:0;
	bottom:30px;
	width:100%;
	padding-left:30px;
}

.commentPostText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
	cursor: default;
}

.commentPostInfoContainer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 30px;
	
}

.commentDeleteButtonContainer {
	position:relative;
	float:left;
	width: 25%;
	height:100%;
}

.commentFlagButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentAnswerButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentTimeAskedContainer {
	position: relative;
	float: left;
	width: 25%;
	top: 50%;
	transform: translateY(-50%);
	text-align:center;
	color: 747474;
}