@font-face {
    font-family: Caviar;
    src: url(Caviar.ttf);
}

body {
    margin:0px;
    padding:0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #afd2e9;
    overflow-x: hidden;
}

#content {
    padding-top: 50px;
}

.account {
    color: #ffffff;
}

#youtube {
    position: fixed;
    left: 170px;
    width: 48px;
    height: 48px;
    z-index: 3;
    cursor: pointer;
}

#newquestion {
    margin: 1px;
    height: 40px;
    position: fixed;
    z-index: 3;
    background-color: #6d9d41;
    border-radius: 10px;
    border: 3px solid #005200;
    cursor: pointer;
}

#newquestionform {
    padding-top: 55px;
}

#newquestion:hover {
    background-color: #70E270;
    cursor: pointer;
}

#bar {
    position: fixed;
    width: 100%;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    height: 50px;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #3a332d;
    box-shadow: 0px 2px 3px 0.5px rgba(0,0,0,0.2);
    z-index: 2;
}

#logo {
    display: block;
    height: 50px;
}

#logo:focus {
    outline:0;
}

#sortbar {
    position: relative;
    top: 50px;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    height: 50px;
    width: 100%;
}

.sortbar {
    cursor: pointer;
}

#popularity {
    text-decoration: underline;
}

.questionansweredcontainer {
    background: #C9C9C9;
    width: 100%;
    min-height: 120px;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    border-bottom: 2px solid #000;
}

.questionunansweredcontainer {
    width: 100%;
    min-height: 120px;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    border-bottom: 2px solid #000;
}

.question {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    width: 100%;
    min-height: 83px;
    justify-content: left;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
}

.vote {
    width: 60px;
    position: relative;
}

.votecontainer {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.vote_up {
    width: 50px;
    margin: 5px;
    margin-bottom: 2.5px;
    cursor: pointer;
}

.count {
    position: absolute;
    width: 20px;
    height: 25px;
    left: 20px;
    top: 20px;
}

.flaggedcount {
    
}

.countnumber {
    user-select: none;
    cursor: default;
}

.vote_down {
    width: 50px;
    margin: 5px;
    margin-top: 2.5px;
    cursor: pointer;
}

.questionbuttoncontainer {
    width: 50px;
    padding-left: 10px;
}

.answeredquestionbuttoncontainer {
    width: 50px;
    margin: auto;
}

.questiontime {
    padding: 5px;
    cursor: default;
    width: 60px;
    min-width: 60px;
}
.question {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    -ms-flex: 0 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
}
    
.questionunansweredtitle {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    width: calc(100% - 30px);
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    flex: 1 1;
    -ms-flex: 1 1 auto;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

.questionansweredtitle {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    width: calc(100% - 30px);
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    flex: 1 1;
    -ms-flex: 1 1 auto;
    align-items: center;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

.infobar {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
}

.info {
    width: auto;
    padding: 3px;
    padding-left: 15px;
    cursor: pointer;
}

.time {
    width: auto;
    padding: 3px;
    padding-left: 15px;
    cursor: default;
}

.deletecommentbutton {
    height: 20px;
    min-width: 20px;
    cursor: pointer;
    padding: 2.5px;
}
.deletequestionbutton {
    height: 25px;
    min-width: 20px;
    cursor: pointer;
    padding: 5px;
}

.markanswerbutton {
    height: 20px;
    min-width: 20px;
    padding: 2px;
    padding-left: 7px;
}

.countnumber {
    font-size: 18;
    color: #757575;
    text-align: center;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h2 {
    margin: 5px;
    padding: 0px;
    font-size: 14;
    font-weight: normal;
}

h3 {
    margin: 5px;
    padding: 0px;
    font-size: 20;
    font-weight: normal;
}

h4 {
    font-size: 10;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.flagcontainer {
    /*display: none;  DISABLE */
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.deletecontainer {
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
}
.flag {
    /*display: none; DISABLE */
    height: 18px;
}

.flagtext {
    margin: 0px;
    padding: 0px;
}

.flagcommentbutton {
    /* display: none;     DISABLED*/
    min-width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 2px;
}
.commentcontainer {
    height: auto;
}
.comment {
    width: calc(100% - 52px);
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    left: 50px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    vertical-align: middle;
}

.answeredcomment {
    background: #C9C9C9;
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    left: 50px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    vertical-align: middle;
}

.commenttext {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    text-align: left;
    padding-left: 2.5px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

.answer {
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    left: 50px;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    vertical-align: middle;
}

.replytime {
    margin-left: 5px;
    margin-right: 5px;
}

.replyformcontainer {
    display: none;
}

textarea {
    width: 800px;
    height: 100px;
    margin: 5px;
}

.postbutton {
    margin-left: 5px;
    background-color: #6d9d41;
    border-radius: 5px;
    border: 2px solid #005200;
    font-size: 14;
    cursor: pointer;
}

.replypostbutton {
    margin-left: 50px;
    background-color: #6d9d41;
    border-radius: 5px;
    border: 2px solid #005200;
    font-size: 14;
    cursor: pointer;
}

.questionpostbutton {
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #6d9d41;
    border-radius: 5px;
    border: 2px solid #005200;
    font-size: 14;
    cursor: pointer;
}

.commentpostbutton {
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #6d9d41;
    border-radius: 5px;
    border: 2px solid #005200;
    font-size: 14;
    cursor: pointer;
}

.commentlabel {
    margin: 5px;
}

form {
    margin: 10px;
    margin-left: 45px;
    margin-top: 0px;
}

.commentvotecontainer  {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    min-width: 30px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 5px;
}
.commentup {
    width: 25px;
    height: 25px;
    padding: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}

.commentdown {
    width: 25px;
    height: 25px;
    padding: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.commentvotecount {
    min-width: 20px;
    padding: 5px;
    cursor: default;
}

.commenttime {
    min-width: 60px;
    width: 60px;
    cursor: default;
    padding: 5px;
    padding-right: 2.5px;
}

span {
    text-align: left;
}

#errorcontainer {
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    min-height: 30px;
    background-color: #00ff00;
    -webkit-user-select: all;
    text-align: center;
}

.spinner {
    height: 30px;
    width: 30px;
    padding-left: 50px;
}

a:link {
    text-decoration: underline;
    color: blue;
}

a:visited {
    color: purple;
    text-decoration: underline;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: black;
}

#version {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #949597;
    font-weight: bold;
}