body {
	margin:0;
	padding:0px;
	height:100%;
	background: #white; /* For browsers that do not support gradients */
}


* {
	font-family: Verdana, Geneva, sans-serif;
}

.header {
	position: fixed;
	height:100px;
	width:100%;
	background-color:2d3338;
	z-index:1;
}

.logoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	text-align:center;
}

.logoImg {
	max-width:500px;
	max-height:100px;
	width: auto;
	height: auto;
}

.version {
	position: absolute;
	color: b4b4b4;
	font-size: 1.5em;
	left: 0%;
	bottom: 0%;
}

.youtube {
	position: absolute;
	right: 0px;
	text-align:center;
	cursor: pointer;
}

.youtubeImg {
	max-width:500px;
	max-height:100px;
	width: auto;
	height: auto;
}

/*button to push to make a new quesiton */

.newQuestion {
	width:100%;
	height:100px;
	top: 100px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	background-color:green;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	line-height: 100px;
	z-index: 1;
}

.newQuestion:hover {
	background-color:00CC00;
}

/*container that pops up when you push button to make new question */

.newQuestionContainer {
	position: static;
	width: 100%;
	height: 400px;
	top:206px;
}

.newPostTitle {
	display:block;
	text-align: center;
	font-size: 2em;
}

.newPostTextarea {
	display:block;
	font-size: 1.5em;
	margin:auto;
	width: 75%;
	height: 200px;
}

.postButton {
	width:75%;
	height:75px;
	background-color:green;
	color:white;
	border: 3px solid black;
	border-radius: 10px;
	display:block;
	margin:auto;
	font-size:2em;
	cursor:pointer;
}

.postButton:hover {
	background-color:00CC00;
}

.padding {
	width:100%;
	height: 100px;
}

.content {
	max-width: 1200px;
	min-width: 810px;
	margin: auto;
}

/*question container contains info for a quesiton*/

.postContainer {
	display:inline-block;
	position: relative;
	height: auto;
	width: 100%;
	min-height: 275px;
	max-width: 100%;
	border-bottom: 1px solid black;
	box-sizing:border-box;
}

/*vote info container contains all votes plus up and downvoting*/
.voteInfoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5%;
	max-height: 275px;
	width: 10%;
}

.containedImg {
	display:block;
	margin:auto;
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.upvoteContainer {
	position: absolute;
	height: 25%;
	top: 15%;
	width: 100%;
}

.voteContainer {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-family: courier;
}

.downvoteContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
	width: 100%;
}

/*button container contains buttons, like flag, trash, etc..*/

.buttonContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20%;
	max-height: 275px;
	width: 10%;
	overflow: auto;
}

.deleteButtonContainer {
	position: absolute;
	height: 25%;
	top: 15%;
}

.flagButtonContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
}

.answerButtonContainer {
	position: absolute;
	height:25%;
	top: 75%;
}

/*post text and info contains post text, time created... */

.postTextAndInfoContainer {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left:30%;
	width: 70%;
	box-sizing: border-box;
	border-left: 1px solid black;
}

.postTextContainer {
	position: absolute;
	overflow: auto;
	width: 100%;
	top: 0;
	bottom: 75px;
}

.postText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	padding: 15px;
	cursor: default;
}

.postInfoContainer {
	position: absolute;
	bottom: 0;
	height: 75px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: 747474;
}

.postActionContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 35%;
	cursor: pointer;
	border-right: 1px solid black;
	box-sizing:border-box;
}

.postActionContainer:hover {
	color: 1f268b;
	font-size: 1.08em;
}

.timeAskedContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 30%;
	cursor: default;
}

/*all comment styling below here */

.commentsContainer {
	width:100%;
}

.commentPadding {
	position: relative;
	float:left;
	width:10%;
}

.commentContainer {
	position:relative;
	float:left;
	height: 150px;
	width:88%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-sizing:border-box;
}

/*contains all comment vote styling*/

.commentVoteInfoContainer {
	position: relative;
	float: left;
	width: 10%;
}

.commentUpVoteContainer {
	height: 30%;
	padding-top: 10%;
}

.commentVoteContainer {
	height:20%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: courier;
	margin-top: 5%;
	margin-bottom: 5%;
}

.commentDownVoteContainer {
	height:30%;
	padding-bottom: 10%;
}

/*text itself and all buttons beneath*/

.commentPostTextAndInfoContainer {
	position: relative;
	float:left;
	height:100%;
	width: 90%;
}

.commentPostTextContainer {
	position: absolute;
	top:0;
	bottom:50px;
	width:100%;
	padding-left:15px;
}

.commentPostText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em;
	cursor: default;
}

.commentPostInfoContainer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 50px;
	
}

.commentDeleteButtonContainer {
	position:relative;
	float:left;
	width: 25%;
	height:100%;
}

.commentFlagButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentAnswerButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentTimeAskedContainer {
	position: relative;
	float: left;
	width: 25%;
	top: 50%;
	transform: translateY(-50%);
	text-align:center;
	color: 747474;
}