body {
	margin:0;
	padding:0px;
	height:100%;
	background: #white; /* For browsers that do not support gradients */
}


* {
	font-family: Verdana, Geneva, sans-serif;
}

.header {
	position: fixed;
	height:100px;
	width:100%;
	background-color:2d3338;
	z-index:1;
}

.logoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	text-align:center;
}

.logoImg {
	max-width:500px;
	max-height:100px;
	width: auto;
	height: auto;
}

.version {
	position: absolute;
	color: b4b4b4;
	font-size: 1.5em;
	left: 0%;
	bottom: 0%;
}

.youtube {
	position: absolute;
	right: 0px;
	text-align:center;
	cursor: pointer;
}

.youtubeImg {
	max-width:500px;
	max-height:100px;
	width: auto;
	height: auto;
}

/*button to push to make a new quesiton */

.newQuestion {
	width:100%;
	height:100px;
	top: 100px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	background-color:green;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	line-height: 100px;
	z-index: 1;
}

.newQuestion:hover {
	background-color:00CC00;
}

/*container that pops up when you push button to make new question */

.newQuestionContainer {
	position: static;
	width: 100%;
	height: 400px;
	top:206px;
}

.newPostTitle {
	display:block;
	text-align: center;
	font-size: 2em;
}

.newPostTextarea {
	display:block;
	font-size: 1.5em;
	margin:auto;
	width: 75%;
	height: 200px;
}

.postButton {
	width:75%;
	height:75px;
	background-color:green;
	color:white;
	border: 3px solid black;
	border-radius: 10px;
	display:block;
	margin:auto;
	font-size:2em;
	cursor:pointer;
}

.postButton:hover {
	background-color:00CC00;
}

.padding {
	width:100%;
	height: 100px;
}

.backgroundCover {
	position:fixed;
	background-color: white;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 2;
}

/************************sort menu container ********************/

.sortMenuContainer {
	background-color:white;
	position:fixed;
	left:10%;
	top:10%;
	width:80%;
	height:80%;
	z-index:2;
	border: 5px solid black;
	box-sizing: border-box;
}

.sortMenuTitle {
	position:relative;
	top:3%;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
}

.sortMenuOptionsContainer {
	position: relative;
	top: 3%;
	height: 15%;
	width: 100%;
	border-bottom: 2px solid black;
}

.sortMenuOption {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	width:50%;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.sortMenuButton {
	position: relative;
	display:inline-block;
	height: 20%;
	bottom:5px;
	width: 50%;
}

.sortMenuButtonText {
	position:relative;
	top: 50%;
	width:100%;
	transform: translateY(-50%);
	display: inline-block;
	text-align: center;
	font-size: 5em;
}

/*****filter container *****/

.filterContainer {
	position:relative;
	max-width: 1200px;
	min-width: 810px;
	width: 100%;
	height: 100px;
	z-index: 1;
	margin: auto;
	background-color:d6d6d6;
}

.filterName {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
	font-size: 2em;
	width:100%;
	cursor: pointer;
}

.clearButton {
	display: inline-block;
	text-decoration: underline;
	font-size:1.1em;
	border-radius:15px;
}

.sortMenuButtonContainer {
	position: absolute;
	display: inline-block;
	left:1%;
	top:0;
	bottom:0;
	height:100%;
	z-index: 1;
}

.searchButtonContainer {
	position: absolute;
	right: 1%;
	top: 0;
	bottom: 0;
	height: 100%;
}

/*************search bar****************/

.searchBar {
	position: fixed;
	background-color: f4f4f4;
	z-index:2;
	width: 100%;
	top: 0px;
	height: 120px;
	padding: 10px;
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

.searchTextArea {
	display: inline-block;
	border:none;
	width: 75%;
	height: auto;
	font-size:4em;
}

.searchButton {
	display: inline-block;
	margin:2.5%;
	width: 20%;
	text-align: center;
	font-size: 3em;
}

.content {
	max-width: 1200px;
	min-width: 810px;
	margin: auto;
}

.showMoreButton {
	padding: 50px;
	text-align: center;
	font-size: 2.5em;
	color:00004c;
	cursor:pointer;
}

/*question container contains info for a quesiton*/

.postContainer {
	display:inline-block;
	position: relative;
	height: auto;
	width: 100%;
	min-height: 275px;
	max-width: 100%;
	border-bottom: 1px solid black;
	box-sizing:border-box;
}

/*vote info container contains all votes plus up and downvoting*/
.voteInfoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5%;
	max-height: 275px;
	width: 10%;
}

.containedImg {
	display:block;
	margin:auto;
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.upvoteContainer {
	position: absolute;
	height: 25%;
	top: 15%;
	width: 100%;
}

.voteContainer {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-family: courier;
}

.downvoteContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
	width: 100%;
}

/*button container contains buttons, like flag, trash, etc..*/

.buttonContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20%;
	max-height: 275px;
	width: 10%;
	overflow: auto;
}

.deleteButtonContainer {
	position: absolute;
	height: 25%;
	top: 15%;
}

.flagButtonContainer {
	position: absolute;
	height: 25%;
	bottom: 15%;
}

.answerButtonContainer {
	position: absolute;
	height:25%;
	top: 75%;
}

/*post text and info contains post text, time created... */

.postTextAndInfoContainer {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left:30%;
	width: 70%;
	box-sizing: border-box;
	border-left: 1px solid black;
}

.postTextContainer {
	position: absolute;
	overflow: auto;
	width: 100%;
	top: 0;
	bottom: 75px;
}

.postText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	padding: 15px;
	cursor: default;
}

.postInfoContainer {
	position: absolute;
	bottom: 0;
	height: 75px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: 747474;
}

.postActionContainer {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 35%;
	cursor: pointer;
	border-right: 1px solid black;
	box-sizing:border-box;
}

.postActionContainer:hover {
	color: 1f268b;
	font-size: 1.08em;
}

.timeAskedContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	width: 30%;
	cursor: default;
}

/*all comment styling below here */

.commentsContainer {
	width:100%;
}

.commentContainer {
	position:relative;
	left: 10%;
	height: 150px;
	width:88.5%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-sizing:border-box;
}

/*contains all comment vote styling*/

.commentVoteInfoContainer {
	position: relative;
	float: left;
	width: 10%;
}

.commentUpVoteContainer {
	height: 30%;
	padding-top: 10%;
}

.commentVoteContainer {
	height:20%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: courier;
	margin-top: 5%;
	margin-bottom: 5%;
}

.commentDownVoteContainer {
	height:30%;
	padding-bottom: 10%;
}

/*text itself and all buttons beneath*/

.commentPostTextAndInfoContainer {
	position: relative;
	float:left;
	height:100%;
	width: 90%;
}

.commentPostTextContainer {
	position: absolute;
	top:0;
	bottom:50px;
	width:100%;
	padding-left:15px;
}

.commentPostText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em;
	cursor: default;
}

.commentPostInfoContainer {
	position:absolute;
	bottom:0;
	width: 100%;
	height: 50px;
	
}

.commentDeleteButtonContainer {
	position:relative;
	float:left;
	width: 25%;
	height:100%;
}

.commentFlagButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentAnswerButtonContainer {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.commentTimeAskedContainer {
	position: relative;
	float: left;
	width: 25%;
	top: 50%;
	transform: translateY(-50%);
	text-align:center;
	color: 747474;
}